.bg_ajust {
    background: url(../assets/Game/Batgame_1.png);
    background-size: contain;
    background-position-x: center;
    background-repeat: no-repeat;
}

.play_presentation {
    margin: 0 auto;
    width: 85%;
    color: white;
}

.play_presentation h1 {
    font-family: rajhdani;
    font-size: 46px;
    padding-left: 50px;
    padding-top: 150px;
    padding-bottom: 100px;
}

.play_presentation .container_flecheDown {
    padding-bottom: 80px;
}

.Quizz {
    margin: 0 auto;
    width: 85%;
    padding: 5%;
}

.Quizz .G0 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Quizz .G0 h1 {
    text-transform: uppercase;
    font-size: 30px;
}

.Quizz .G0 .img_game {
    margin-top: 30px;
    width: 80%;
}

.Quizz .G0 .quiz_btn {
    margin-top: 50px;
}

.G1 h1 {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.G1 button {
    margin-top: 40px;
}