.nav-link {
    font-size: 22px!important;
    color: white!important;
}

.active {
    font-weight: bold!important;
    text-decoration: underline;
    color: white!important;
}

nav {
    background-color: black !important;
}

.navbar-toggler {
    background-color: white !important;
}